<%= form_for(@example_post) do |f| %>
  <% if @example_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@example_post.errors.count, "error") %> prohibited this example_post from being saved:</h2>

      <ul>
      <% @example_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
